*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con{
    width:94%;
    
    background-color: blueviolet;
    margin: 25px auto;
}

h1{
    color:blue;
    text-align: center;
    margin-top: 25px;
}
.flex-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.d{
    background-color: brown;
    box-shadow: ;
}


.d1{
    flex-basis: 392px;
    background-color: #0ca4b1;
    position: relative;
}
.d1 img:hover{
    opacity: 0.3;
    
}
.d2{
    flex-basis: 392px;
    background-color: #0ca4b1;
    position: relative;
}
.d2 img:hover{
    opacity: 0.3;
    
    transform: scale(1);
}

.d3{
    flex-basis: 392px;
    background-color: #0ca4b1;
    position: relative;
}
.d3 img:hover{
    opacity: 0.3;
    
    transform: scale(1);
}
img{
    width: 100%;
    height: 100%;
}

p{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;
    
}

.d *{
    transition: all .5s ease-in-out;
}

.d:hover p{
    transform: translate(-50%,-50%) scale(1);

}

@media screen and (max-width:850px){
    .d1{
        margin-bottom: 20px;
    }
    .d2{
        margin-bottom: 20px;
    }

    .d3{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1262px){
    .d1{
        margin-bottom: 20px;
    }
    .d2{
        margin-bottom: 20px;
    }

}